/* fontes */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+Great+Primer+SC&display=swap');



body{
    margin: 0  ;
    font-family: 'IM Fell English', serif;
    color: white;
    background-image: url("/images/greec.jpg");
    
}

.title {
    color: black;
    background-color: #FAE8AB;
    text-align: center;
    font-family: 'IM Fell English', serif;
}

.options {
     background-color: #FAE8AB;
    color: black;
    font-family: 'IM Fell English', serif;
    margin:10px;
    width: 400px;

}
.writeHere{
    margin-left: 90px;
}

.cifraBase {
    font-family: 'IM Fell English', serif;
}

.bottons{
    font-family: 'IM Fell English', serif;
    height: 40px;
    margin-right: 340px;
}
.mensageNonCodifc{
    background-color: #FAE8AB;
    color: black;
    font-family: 'IM Fell English', serif;
    height: 200px;
    width: 400px;
    margin-bottom: 12px;

}